* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  
}

body {
  height: 100vh;
}

/* Header */

a {
  text-decoration: none;
  color: #f7efef;
}

header .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 70px;
  
}
.login{
  background-color: #03045E;
  color: #ffffff;
  margin-left: 15px;
}
.login:hover{
  background-color: #ffffff;
  border: 1px solid #03045E;
  color: #03045E;
}
.btn-outline{
  border: 1px solid #03045E;
  color: #03045E;
}
.btn-outline:hover{
  background-color: #03045E;
  color: #ffffff;
}
.navbar a{
  color: #03045E;
  font-weight: 500;
}
.navbar-nav{

  margin: 0 0 0 35px;
  font-weight: 500;
  font-size: 40px;
}
.navbar-nav a:hover{
  text-decoration: solid underline #03045E 2px;
  text-underline-offset: 5px;
}
.nav-item{
  margin: 0 8px;
}
.button{
  margin-left: 70px;
}
button{
  width: 120px;
}

/* Introduction Zone */

.intro-text {
  background-image: linear-gradient(rgba(3, 4, 94, 0.5), rgba(3, 4, 94, 0.4)), url("../images/about-us-images/bg-image2.jpg");
  background-repeat: no-repeat;
  border: 1px solid #000000;
  top: 90px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-text p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 45px;

  width: 82%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  color: #fff;
}

.about-section {
  padding: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text {
  padding: 0 120px;
}

.about-text h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 70px;
}

.about-text h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
}

.about-img img {
  height: 200px;
  width: 200px;
}

.about-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.about-icon {

  padding: 20px 0;

}

.about-icon img {

  background-image: url("../images/about-us-images/Rectangle\ 120.svg");
  height: 60px;
  width: 70px;
  padding: 10px;
}

.emphasis {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #092B3E;
}

.service-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 20px;
  background: #91E0EF;

  height: 500px;
}

.service-text {
  display: flex;
  align-items: center;
  justify-content: left;

}

.service-text h3 {
  width: 400px;
  height: 120px;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;

}

.service-text p {
  position: absolute;
  width: 636px;
  height: 72px;
  font-size: 20px;
  line-height: 36px;
  color: #03045E;
  top: 300px;
}

.service-img {
  margin-left: 200px;
}

.center-card {
  width: 374px;
  height: 223px;
  position: relative;
  top: 0;
  left: 0;
}

.center-card:hover {
  transform: rotate(-90deg);
}

.left-card {
  width: 294.2px;
  height: 177.08px;
  position: absolute;
  right: 180px;
  top: 120px;

}

.left-card:hover {
  transform: matrix(0.35, -0.95, 0.92, 0.37, 0, 0);
}

.right-card {
  width: 292.18px;
  height: 178.39px;
  position: absolute;
  right: 10px;
  top: 120px;
}

.right-card:hover {
  transform: matrix(-0.51, -0.89, 0.83, -0.52, 0, 0);
}

.service-img img {
  border-radius: 32px;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  position: relative;
}

.clients p {
  position: absolute;
  width: 308px;
  height: 48px;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  top: 50px;


}

.clients .row {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  justify-content: center;
  

}


.column img {
  height: 170px;
  width: 180px;
}

.contact-me {

  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
  gap: 10px;
  top: 300px;

}

.contact-me button {
  background: #02033F;
  color: #f7efef;
  border-radius: 8px;
  width: 320px;
  height: 75px;
  font-size: 20px;
}

input {
  box-shadow: 0px 4px 47px rgba(0, 0, 0, 0.09);
  border-radius: 8px 0px 0px 8px;
  width: 500px;
  height: 75px;



}

::placeholder {
  color: #02033F;
  opacity: 1;
  text-align: center;
  font-size: 24px;
}

/* Footer */

footer {
  background: #01011F;
  height: 500px;
  padding: 80px 0px 80px 20px;
  color: #f7efef;
  
  position: relative;
}

.footer-container {
  display: flex;
  position: relative;
  color: rgb(255, 255, 255);
}



i {
  color: #fff;
}

.fa:hover {
  opacity: 0.7;
}

.follow-us {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 30px;
}
.btm-foot{
  position: absolute;
  bottom: 20px;
  left: 500px;
}

