@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins","Lexend Deca", "Big SHoulders Display", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

body {
    /* font-family: Georgia, "Times New Roman", Times, serif; */
    color: #030361;
    height: 100vh;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0;
    transition: all 0.50s ease;
    box-shadow: 0 0 3px #000;
    background-color: #fff;
  }
  
  .logo{
    display: flex;
    align-items: center;
    
  }
  
  .logo img{
    width: 250px;
  }
  
  .navbar{
    display: flex;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar a{
    color: #01011f;
    font-weight: 500;
    font-size: 1.1em;
    padding: 5px 0;
    margin: 0px 20px;
    transition: all 0.3s ease;
  }
  
  .navbar a:hover{
    color: aqua;
  }
  
  .navbar a.active{
    color: #01011f;
    border-bottom: 2px solid #01011f;
    width: 100%;
    border-radius: 1px;
    transition: 0.2s ease;
    
  }
  
  .navbar a.active:hover{
    color: aquamarine;
    border-bottom: 2px solid aquamarine;
    width: 100%;
    border-radius: 1px;
    transition: 0.3s ease;
    
  }
  
  header .user_unauth{
    display: flex;
    align-items: center;
  }
  
  
  header .user_unauth a{
    margin-right: 25px;
    margin-left: 10px;
    color: #01011f;
  }
  
  
  header .user_unauth a.register{
    border: 1px solid #01011f;
    border-radius: 7px;
    padding: 4px 10px;
  }
  
  header .user_unauth a.register:hover{
    border: 2px solid aqua;
    border-radius: 7px;
    padding: 4px 10px;
    background-color: #2767f0;
    color: #fff;
  }
  
  
  header .user_unauth a#login{
    color: #fff;
    background-color: #01011f;
    border-radius: 7px; 
    padding: 5px 20px; 
  }
  
  header .user_unauth a#login:hover{
    color: #01011f;
    background-color: aqua;
    border-radius: 7px;
  }
  


nav {
    display: grid;
    grid-template-areas: "a b c";
    gap: 10px;
    padding: 10px;
    color: #030361;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
}


.link {
    padding: 0 25px;
    font-weight: bold;
    color: #030361;
}

.link:hover {
    border-bottom: 2px solid #1E1E1E;
}

/* .logo {
    grid-area: a;
    font-size: 25px;
    text-align: center;
    width: 25%;
    font-weight: bolder;
} */

.lang {
    grid-area: c;
    font-size: 25px;
    text-align: end;
    width: 90%;
    font-weight: bolder;
}

.a {
    margin-top: -70px;
    position: absolute;
    width: 100%;
    height: 250px;
    top: 114px;
    background: #01011F;
}

.a .b {
    color: white;
    padding: 20px;
}

.a .b button {
    width: 100%;
    max-width: 700px;
    background-color: white;
    display: flex;
    align-items: center;
}

.d {
    font-size: 25px;
    color: #1E1E1E;
    position: relative;
    width: 100%;
    height: 200px;
    top: 340px;

}

input {
    width: 60%;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid white;
    background-color: lightgray;
    color: white;
}


main {
    font-size: small;
    margin: 15%;
    align-items: center;
    height: 100%;
}

.question {
    background: #F4F4F4;
    justify-content: space-between;
    align-items: center;
}

.question h1 {
    font-size: 1.8rem;
}


.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.1rem;
}

.plus {
    float: right;
    font-size: 1.4em;
    line-height: 1em;
    cursor: pointer;
}

.faq {

    transition: max-height 1.4rem;
    padding-bottom: 1rem;
    max-width: 900px;

}


.s {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.s h3 {
    padding: 20px;
}

.r {
    align-items: center;
    padding: 20px;
    width: 20%;
    background-color: #01011F;
    color: white;
}

.r:hover {
    background-color: red;
    cursor: pointer;
}

footer {
    background-color: #01011F;
    padding: 20px 20px 0 20px;
}

.footer-container {
    display: flex;
    position: relative;
    color: #fff;
}

.foot-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 10px;
    position: absolute;
    right: 0;
}

.follow-us {
    text-align: center;
}

.foot-item {
    padding: 25px;
}

.foot-item a {
    color: #d9cece;
}

.btm-foot {
    color: #d9cece;
    text-align: center;
    padding: 30px;
}

.fa {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}


footer{
    margin-top: 500px;
    width: 100%;
    padding: 70px 0;
    background-color:#01011f;
    line-height: 1.5;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  
  .container{
    max-width: 1170px;
    margin: auto;
  }
  
  
  .container .copyright{
    color: #fff;
    margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -50px;
  }
  
  ul{
    list-style: none;
  }
  
  .footer-col{
    width: 20%;
    padding: 0 15px;
  }
  
  .footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  
  .footer-col h4::before{
    content: '';
    position: absolute;
    Left:0;
    bottom: -10px;
    background-color: #fff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  
  }
  
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  
  }
  
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
  }
  
  #footer-col-social-links div.social-links a{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
    margin-left: 20px;
   margin-top: 15px;
   transition: all 0.2s ease;
  }
  
  #footer-col-social-links div.social-links a:hover{
    color: aquamarine;
  }
