<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/contact.css">

    <script src="https://kit.fontawesome.com/b5eae3d1fd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"
        integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"
        integrity="sha512-3J8teBiHrSyaaRBajZyIEtpDsXdPq1gsznKWIVb5CnorQuFhjWGhWe54z8YNnHHr7MZuExb9m5kvf964HiT1Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
 
    
    <title>Document</title>
</head>
<body>
    <header>
        <a href="./index.html" class="logo"><img src="./static/images/logo.png" alt=""></a>
            <ul class="navbar">
                <li><a href="./index.html" >Home</a></li>
                <li><a href="./product.html" >Products</a></li>
                <li><a href="./about-us.html" >About us</a></li>
                <li><a href="./contact.html" class="active">Contact us</a></li>
                <li><a href="./faq.html">FAQs</a></li>
            </ul>
            <div class="user_unauth">
                <a href="signup.html" class="register">Register</a>
                <a href="login.html" id="login">Login</a>
            </div>
            </ul>  
    </header>


   
        <h1>Contact Us</h1>

        <h4 style="text-align:center">We'd love to hear from you!</h4>

<div class="row input-container">
        <div class="col-xs-12">
            <div class="styled-input wide">
                <input type="text" required />
                <label>Name</label> 
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="styled-input">
                <input type="text" required />
                <label>Email</label> 
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="styled-input" style="float:right;">
                <input type="text" required />
                <label>Phone Number</label> 
            </div>
        </div>
        <div class="col-xs-12">
            <div class="styled-input wide">
                <textarea required></textarea>
                <label>Message</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="btn-lrg submit-btn">Send Message</div>
        </div>
</div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col" id="footer-col-social-links">
                <h4>Follow us:</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Download</h4>
                <ul>
                    <li><a href="#">ios</a></li>
                    <li><a href="#">Android</a></li>
                    <li><a href="#">Mac</a></li>
                    <li><a href="#">Windows</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Community</h4>
                <ul>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">NHIS</a></li>
                    <li><a href="#">Organizers</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>CC Gen</h4>
                <ul>
                    <li><a href="#">Latest</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">Designed by TeamLarkw2 | Zuri | 2022</div>
    </div>
    
</footer>
</body>
</html>