<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC Gen | FAQ</title>
    <link rel="stylesheet" href="./static/css/faq.css">
    <script
      src="https://kit.fontawesome.com/1c624ab945.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
    <header>
        <a href="./index.html" class="logo"><img src="./static/images/logo.png" alt=""></a>
            <ul class="navbar">
                <li><a href="./index.html"  >Home</a></li>
                <li><a href="./product.html" >Products</a></li>
                <li><a href="./about-us.html">About us</a></li>
                <li><a href="./contact.html">Contact us</a></li>
                <li><a href="./faq.html" class="active">FAQs</a></li>
            </ul>
            <div class="user_unauth">
                <a href="signup.html" class="register">Register</a>
                <a href="login.html" id="login">Login</a>
            </div>
            </ul>  
    </header>
    <div style="text-align: center;" class="a">
        <h1 class="b">Support And FAQ</h1>
        <input class="c" type="text" placeholder="Search help articles">
    </div>
    <div class="d" style="text-align: center;">
        <h3>Frequently Asked Question (F.A.Qs)</h3>
    </div>
    <main>
        <div class="faq">
            <div class="question">
                <h1>How can i generate a card for graphics design ?
                    <span class="plus">&plus;</span>
                </h1>
                <div class="answer">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe sequi, illum facere
                        necessitatibus cum aliquam id illo omnis maxime, totam soluta voluptate amet ut sit ipsum
                        aperiam.
                        Perspiciatis, porro!
                    </p>
                </div>
            </div><br>


            <div class="faq">
                <div class="question">
                    <h1>How do i cancel my subscription ?
                        <span class="plus">&plus;</span>
                    </h1>
                    <div class="answer">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe sequi, illum facere
                            necessitatibus cum aliquam id illo omnis maxime, totam soluta voluptate amet ut sit ipsum
                            aperiam.
                            Perspiciatis, porro!
                        </p>
                    </div>
                </div>
                <br>

                <div class="faq">
                    <div class="question">
                        <h1>How can i reset/change my password ?
                            <span class="plus">&plus;</span>
                        </h1>
                        <div class="answer">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe sequi, illum
                                facere
                                necessitatibus cum aliquam id illo omnis maxime, totam soluta voluptate amet ut sit
                                ipsum
                                aperiam.
                                Perspiciatis, porro!
                            </p>
                        </div>
                    </div><br>


                    <div class="faq">
                        <div class="question">
                            <h1>How secure is my information ?
                                <span class="plus">&plus;</span>
                            </h1>
                            <div class="answer">
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe sequi, illum
                                    facere
                                    necessitatibus cum aliquam id illo omnis maxime, totam soluta voluptate amet ut sit
                                    ipsum
                                    aperiam.
                                    Perspiciatis, porro!
                                </p>
                            </div>
                        </div><br>


                        <div class="faq">
                            <div class="question">
                                <h1>If i delete a file or project, can i get them ?
                                    <span class="plus">&plus;</span>
                                </h1>
                                <div class="answer">
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe sequi,
                                        illum facere
                                        necessitatibus cum aliquam id illo omnis maxime, totam soluta voluptate amet ut
                                        sit ipsum
                                        aperiam.
                                        Perspiciatis, porro!
                                    </p>
                                </div>
                            </div><br>



                            <div class="s">
                                <h1>Still have questions?</h1>
                                <h3>We are here to help!</h3>
                                <button class="r">Contact Us</button>
                            </div>
                        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col" id="footer-col-social-links">
                    <h4>Follow us:</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Legal</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Download</h4>
                    <ul>
                        <li><a href="#">ios</a></li>
                        <li><a href="#">Android</a></li>
                        <li><a href="#">Mac</a></li>
                        <li><a href="#">Windows</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Community</h4>
                    <ul>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">NHIS</a></li>
                        <li><a href="#">Organizers</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>CC Gen</h4>
                    <ul>
                        <li><a href="#">Latest</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">Designed by TeamLarkw2 | Zuri | 2022</div>
        </div>
        
    </footer>
    <script src="project.js"></script>
</body>

</html>